@model UpdateLocationViewModel

@{
    ViewData["Title"] = "UpdateLocationModal";
    Layout = "~/Areas/Admin/Views/AdminUILayout/Index.cshtml";
    var cities = ViewBag.Cities as List<ResultCityViewModel>;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Lokasyon Oluştur</h4>
                        <p class="card-subtitle mb-4">
                            Eklemek istediğiniz yeni lokasyon bilgisini lütfen doğru giriniz ve kaydet butonuna basınız.
                        </p>

                        <form method="post" asp-action="UpdateLocation" asp-controller="Location">

                            <input type="hidden" asp-for="LocationId" />

                            <div class="row mb-3">
                                <label for="locationName" class="col-sm-3 col-form-label text-end">Lokasyon Adı</label>
                                <div class="col-sm-9">
                                    <input name="locationName" asp-for="LocationName" class="form-control" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label asp-for="CityId" class="col-sm-3 col-form-label text-end">İl</label>
                                <div class="col-sm-9">
                                    <select asp-for="CityId" class="form-select">
                                        <option disabled selected value="">İl Seçin</option>
                                        @foreach (var city in cities!)
                                        {
                                            <option value="@city.CityId">@(((CityEnum)city.CityName).ToString())</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="description" class="col-sm-3 col-form-label text-end">Açıklama (İsteğe bağlı)</label>
                                <div class="col-sm-9">
                                    <textarea name="description" asp-for="Description" class="form-control" rows="4"></textarea>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Lokasyonu Kaydet</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
