@model List<ResultFeatureViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminUILayout/Index.cshtml";
    int count = 0;
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araçlar</h4>
                        <p class="card-subtitle mb-4">
                            Araçlar ile ilgili işlemleri buradan gerçekleştirebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Özellik Adı</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.FeatureName</td>
                                            <td>
                                                <a href="/Admin/Feature/RemoveFeature/@item.FeatureId" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/Admin/Feature/UpdateFeatureModal/@item.FeatureId" class="btn btn-sm btn-info">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <a href="/Admin/Feature/CreateFeatureModal" class="m-3 btn btn-outline-primary">Özellik Ekle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>