@{
    ViewData["Title"] = "ForgetPasswordModal";
    Layout = "~/Views/ManagementUILayout/Index.cshtml";
}

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <h2 class="my-4"><strong>Şifre Sıfırlama</strong></h2>
        <p>Şifre sıfırlama maili için hesabınızın emailini giriniz.</p>

        <form id="forgetPasswordForm">

            <div class="form-group">
                <label for="Email">Mail Adresi</label>
                <input type="email" class="form-control" name="Email" placeholder="Email" required>
            </div>

            <button type="submit" class="btn btn-primary block full-width m-b">Sıfırla</button>

        </form>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#forgetPasswordForm").on("submit", function (e) {
            e.preventDefault();

            var email = $("input[name='Email']").val();

            $.ajax({
                url: '/Management/ForgetPassword',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(email),
                success: function (response) {
                    toastr.success("Şifre sıfırlama maili gönderili. Lütfen mail adresinizi kontrol ediniz.", "Başarılı");
                    $("#emailInput").val("");
                },
                error: function (xhr) {
                    toastr.error("Şifre sıfırlama maili gönderilirken bir hata oluştu. Lütfen daha sonra tekrar deneyiniz.", "Hata");
                    $("#emailInput").val("");
                }
            });
        });
    });
</script>