@{
    ViewData["Title"] = "RegisterModal";
    Layout = "~/Views/ManagementUILayout/Index.cshtml";
}

<div class="middle-box  loginscreen animated fadeInDown">
    <div>
        <h3 class="mt-2 text-center">Traveler'a Kayıt Olun</h3>

        <form id="registerForm" class="mb-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name">Ad</label>
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Ad" required>
                    </div>

                    <div class="form-group">
                        <label for="Name">Telefon No</label>
                        <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="555 555 55 55" required>
                    </div>

                    <div class="form-group">
                        <label for="Gender">Cinsiyet</label>
                        <select id="Gender" name="Gender" class="form-control" required>
                            <option value="">Cinsiyet Seçiniz</option>
                            @foreach (var gender in ViewBag.Genders as List<SelectListItem>)
                            {
                                <option value="@gender.Value">@gender.Text</option>
                            }
                        </select>
                    </div>
                    
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name">Soyad</label>
                        <input type="text" class="form-control" id="Surname" name="Surname" placeholder="Soyad" required>
                    </div>

                    <div class="form-group">
                        <label for="birthDate">Doğum Günü</label>
                        <input type="date" class="form-control" id="BirthDate" name="BirthDate" required>
                    </div>

                    <div class="form-group">
                        <label for="driverLicenseDate">Ehliyet Veriliş Tarihi</label>
                        <input type="date" class="form-control" id="DriverLicenseDate" name="DriverLicenseDate" required>
                    </div>
                    
                </div>
            </div>

            <div class="form-group">
                <label for="Address">Adres</label>
                <textarea class="form-control" id="Address" name="Address" placeholder="Adres" required></textarea>
            </div>

            <div class="form-group">
                <label for="Name">Mail Adresi</label>
                <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" required>
            </div>

            <div class="form-group">
                <label for="Name">Şifre</label>
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Şifre" required>
            </div>

            <div class="form-group">
                <label for="Name">Şifre Tekrar</label>
                <input type="password" class="form-control" id="PasswordCheck" name="PasswordCheck" placeholder="Şifre Tekrar" required>
            </div>

            <div class="form-group">
                <div class="checkbox i-checks mt-2">
                    <label>
                        <input type="checkbox" id="TermsAccepted"> <i></i> Kullanım şartlarını onaylıyorum.
                    </label>
                </div>
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary block full-width m-b">Kayıt Ol</button>
                <p class="text-muted text-center"><small>Zaten bir hesabınız var mı?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/Management/LoginModal/">Giriş Yap</a>
            </div>
        </form>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $('#registerForm').submit(function (e) {
            e.preventDefault();

            var password = $('#Password').val();
            var passwordCheck = $('#PasswordCheck').val();

            if (password !== passwordCheck) {
                toastr.error('Şifreler uyuşmuyor. Lütfen tekrar kontrol edin.');
                return;
            }

            var formData = {
                Name: $('#Name').val(),
                Surname: $('#Surname').val(),
                PhoneNumber: $('#PhoneNumber').val(),
                BirthDate: $('#BirthDate').val(),
                DriverLicenseDate: $('#DriverLicenseDate').val(),
                Gender: $('#Gender').val(),
                Address: $('#Address').val(),
                Email: $('#Email').val(),
                Password: $('#Password').val(),
                PasswordCheck: $('#PasswordCheck').val(),
                TermsAccepted: $('#TermsAccepted').is(':checked')
            };

            console.log("Gender value: ", formData.Gender);

            $.ajax({
                url: '/Management/Register',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    toastr.success('Kayıt işlemi başarılı!');
                    setTimeout(function () {
                        window.location.href = '/Management/VerifyModal?email=' + formData.Email + '&message=Kayıt İşlemi Başarılı!';
                    }, 2000);
                },
                error: function (xhr) {
                    var response = JSON.parse(xhr.responseText);
                    var errorDetails = JSON.parse(response.message);
                    var errorCode = errorDetails.code;
                    var errorMessage = errorDetails.message;

                    if (errorCode === '11') {
                        toastr.error(errorMessage);
                    } else if (errorCode === '10') {
                        toastr.error(errorMessage);
                    } else if (errorCode === '01') {
                        toastr.error(errorMessage);
                    } else if (errorCode === '99') {
                        toastr.error(errorMessage);
                    } else if (errorCode === '98') {
                        toastr.error(errorMessage);
                    } else {
                        toastr.error('Bilinmeyen bir hata oluştu.');
                    }
                }
            });
        });
    });
</script>