<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Traveler | Management</title>

    <link href="~/HTML5_Full_Version/HTML5_Full_Version/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/HTML5_Full_Version/HTML5_Full_Version/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/HTML5_Full_Version/HTML5_Full_Version/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/HTML5_Full_Version/HTML5_Full_Version/css/animate.css" rel="stylesheet">
    <link href="~/HTML5_Full_Version/HTML5_Full_Version/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

</head>