@model ResultBrandViewModel

@{
    ViewData["Title"] = "CreateBrandModal";
    Layout = "~/Areas/Admin/Views/AdminUILayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Marka Oluştur</h4>
                        <p class="card-subtitle mb-4">
                            Eklemek istediğiniz yeni marka bilgisini lütfen doğru giriniz ve kaydet butonuna basınız.
                        </p>
                        <form method="post" asp-action="CreateBrand" asp-controller="Brand">

                            <div class="form-group">
                                <label for="brandName">Marka Adı</label>
                                <input type="text" class="form-control" id="brandName" asp-for="Name" placeholder="Marka adını giriniz" required>
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Markayı Kaydet</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>