@{
    var userName = ViewBag.UserName;
}

<header id="page-topbar">
    <div class="navbar-header">

        <div class="d-flex align-items-center ml-auto">

            <div class="dropdown d-none d-sm-inline-block ml-2">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-magnify"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                     aria-labelledby="page-header-search-dropdown">

                    <form id="searchForm" class="p-3">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" id="searchInput" class="form-control" placeholder="Aranacak kelimeyi giriniz..." aria-label="Recipient's username">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="dropdown d-inline-block ml-2">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="~/Admin/vertical/assets/images/users/avatar-3.jpg"
                         alt="Header Avatar">
                    <span class="d-none d-sm-inline-block ml-1">@userName</span>
                    <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="/Admin/ContactMail/Index">
                        <span>Gelen Kutusu</span>
                        <span>
                            <span class="badge badge-pill badge-info"></span>
                        </span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="/Admin/MyProfile/Index">
                        <span>Profilim</span>
                        <span>
                            <span class="badge badge-pill badge-warning">1</span>
                        </span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="/Admin/Setting/Index">
                        Ayarlar
                    </a>
                    <a class="dropdown-item d-flex align-items-center justify-content-between"
                       asp-area=""
                       asp-controller="Management"
                       asp-action="Logout">
                        <span>Çıkış Yap</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            var searchTerm = $(this).val().toLowerCase();
            var $elements = $('body *:not(script):not(style):not(link)');

            $('mark').each(function () {
                $(this).replaceWith($(this).text());
            });

            if (searchTerm.length > 0) {
                $elements.each(function () {
                    var $element = $(this);
                    var text = $element.text().toLowerCase();

                    if (text.indexOf(searchTerm) !== -1 && $element.children().length === 0) {
                        var highlightedText = $element.text().replace(new RegExp(searchTerm, 'gi'), function (match) {
                            return `<mark>${match}</mark>`;
                        });

                        $element.html(highlightedText);
                    }
                });
            }
        });

        $(document).on('click', function (e) {
            var $target = $(e.target);

            if (!$target.closest('#page-header-search-dropdown').length && !$target.closest('.dropdown-menu').length) {
                $('#searchInput').val('');

                $('mark').each(function () {
                    $(this).replaceWith($(this).text());
                });
            }
        });

        $('#searchForm').on('submit', function (e) {
            e.preventDefault();
        });

        function fetchUnreadMessagesCount() {
            $.ajax({
                url: "/Admin/ContactMail/GetNumberOfUnreadMails",
                type: "GET",
                success: function (data) {
                    $(".badge-info").text(data);
                },
                error: function () {
                    console.error("Okunmamış mesaj sayısı alınırken bir hata oluştu.");
                }
            });
        }

        setInterval(fetchUnreadMessagesCount, 1000);
    });
</script>