<div class="col-md-4 request-form ftco-animate bg-primary text-white p-4 rounded d-flex flex-column justify-content-between">
    <div>
        <h2 class="mb-4 text-center">Yolculuğunuzu Belirleyin</h2>

        <ol class="mb-4">
            <li>Alış ve teslim lokasyonlarınızı seçin.</li>
            <li>Alış ve teslim tarih-saat bilgilerinizi girin.</li>
            <li>Lokasyonda mevcut araçlardan size uygun olanı seçin.</li>
            <li>Kişisel bilgilerinizi doldurun ve rezervasyonunuzu onaylayın.</li>
        </ol>
    </div>

    <div class="text-center mt-auto">
        <a asp-controller="Reservation"
           asp-action="CreateReservationModal"
           class="btn btn-light text-primary py-3 px-5 fw-bold">
            Rezervasyon Oluştur
        </a>
    </div>
</div>
